<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
<bean id="doorSoundAlarm" class="com.example.demo.Door">
<property name="alarm" ref="soundAlarmBean"></property>
</bean>
<bean id="doorVisualAlarm" class="com.example.demo.Door">
<property name="alarm" ref="visualAlarmBean"></property>
</bean>
<bean id="soundAlarmBean" class="com.example.demo.SoundAlarm"></bean>
<bean id="visualAlarmBean" class="com.example.demo.VisualAlarm"></bean>
</beans>
 